# Config file for automatic testing at travis-ci.org
jobs:
  include:
    - stage: build pytorch-openmpi-cifar10-resnet20-all-reduce
      language: bash
      sudo: required

      services:
        - docker
      install: true
      script:
        - docker build -t pytorch-openmpi-cifar10-resnet20-all-reduce:travis-ci-test ./pytorch/imagerecognition/openmpi-cifar10-resnet20-all-reduce

    - stage: build tensorflow-base
      language: bash
      sudo: required

      services:
        - docker
      install: true
      script:
        - docker build -t mlbench-tensorflow-base:travis-ci-test ./tensorflow/base/

    - stage: build tensorflow-openmpi-cifar10-resnet20-all-reduce
      language: bash
      sudo: required

      services:
        - docker
      install: true
      script:
        - docker build -t tensorflow-openmpi-cifar10-resnet20-all-reduce:travis-ci-test ./tensorflow/imagerecognition/openmpi-cifar10-resnet20-all-reduce


stages:
  - build pytorch-openmpi-cifar10-resnet20-all-reduce
  - build tensorflow-openmpi-cifar10-resnet20-all-reduce
  - build tensorflow-base
